@import "variables";

body {
  margin: 0;
  font-family: $def-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  @include background-style();
  color: $def-text-color;
}

* {
  outline: black 1px dashed;
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
