@import "variables";

.header {
  height: 3rem;
  display: flex;
  padding: 0 7%;
  justify-content: space-between;
  align-items: center;
  background: rgb(15, 12, 41, 0);
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.nav {
  font-weight: bold;


  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    margin-left: 1rem;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: $def-text-color;

  }

  &:hover {
    color: $def-text-active-color;
  }

  &:active {
    color: $def-text-active-color;
  }

}

@media(min-width: 700px) {
  .header {
    height: 4rem;
  }
  .nav li {
    margin-left: 1rem;
    font-size: 1.25rem;
  }
  .logo {
    font-size: 2rem;
  }
}

@media(max-width: 500px) {
  .header {
    height: 3rem;
  }
  .nav li {
    margin-left: 0.7rem;
    font-size: 1rem;
  }
  .logo {
    font-size: 1.2rem;
  }
}